<header class="header">
  <h1 class="title">Landing Page Title</h1>
</header>
<div class="profile">
  <h1>Welcome {{user_name}}</h1>
  <div class="allInfo">
    <p>Your email: {{email}}</p>
    <p>Your ID: {{id}}</p>
    <ul>Your Rank:
      {{#each rankings as |rankings|}}
      <li>{{rankings.rank}}</li>
      {{/each}}
    </ul>
    <ul>Friends:
      {{#each Friend as |friend|}}
      <li>{{friend.user_name}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="editProfile">
  <p>Change your Username and Avatar below</p>
  <form action="" id="newProfile" data-userID={{id}}>
    <div>
    <input type="text" id="user_name" placeholder="New username">
    </div>
    <img id="image_url" src={{image_url}} alt="avatar"
      style="max-width: 150px; max-height: 150px; min-width: 150px; min-height: 150px"
      class="border border-info rounded-circle">
    <input type='file' id="uploadfile" />
    <button class="btn btn-primary">Submit</button>
    <h5>Updated at:{{updatedAt}}</h5>
  </form>
</div>
</div>
<script src="/js/profile.js"></script>
